<!DOCTYPE html>
<html>
<head>
    <title>Upload an Image</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen">
<div class="container mx-auto py-8">
    <div class="bg-white p-8 rounded-lg shadow-md mb-8">
        <h2 class="text-2xl font-bold text-center">CNN Model Demonstration on GTSRB  dataset</h2>
        <h1 class="text-2xl font-bold mb-6">Image Upload</h1>
        <form method="post" enctype="multipart/form-data" action="/" class="space-y-4">
            <div>
                <label for="image" class="block text-gray-700 font-bold mb-2">Select an Image:</label>
                <input type="file" name="image" id="image"
                       class="border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <button type="submit"
                        class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Upload
                </button>
            </div>
        </form>
    </div>

    {% if class_id and class_name %}
        <div class="text-center">
            <p class="text-4xl font-bold mb-8">Class ID: {{ class_id }}</p>
            <p class="text-4xl font-bold mb-8">Class: {{ class_name }}</p>
        </div>
    {% endif %}

    <h1 class="text-2xl font-bold mb-6">Image Gallery</h1>
    <div class="grid grid-cols-10 grid-rows-5 gap-4">
        {% for item in images_data %}
            <div class="col-span-1">
                <img class="h-20 mx-auto " src="{{ item.image_url }}" alt="Class ID: {{ item.ClassId }}">
                <p class="text-center text-sm mt-2">Class ID: {{ item.ClassId }}</p>
                <p class="text-center text-xs mt-2">{{ classes[item.index] }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
